<h2>{{title}}</h2>

<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
  <input type="text" required #name="ngModel" pattern="[a-zA-Z]+$" name="name" id="name" placeholder="Enter Name" ngModel> 
  <br /><span *ngIf="name.invalid && name.touched" style="color: red;">This is a required field</span><br /><br />
  
  <input type="password" minlength="5" required #password="ngModel" name="password" placeholder="Enter Password" ngModel>
  <br /><span *ngIf="password.invalid && password.touched" style="color: red;">This is a required field</span><br /><br />
 
  <button [disabled]="loginForm.invalid">LogIn</button>
</form>